/* ANIMATE HERO START */

.home_hero-h1,
#hero-description,
.hero-h1-word,
#hero-logo-title,
.home_hero_logo-slide img {
  opacity: 0;
}

.home_hero_logo-slide img {
  transform: translateX(-20px);
}

.hero-description-word,
.home-hero-button-wrap,
.home-hero-announcement {
  opacity: 0;
  transform: translateY(20px);
}

.hero-h1-word,
.hero-description-word {
  display: inline-block;
}

/* ANIMATE HERO END */

.operator_content:hover p {
  color: var(--gray-900);
}
