.manifesto_body .navbar .menu_dp-link-only {
  filter: invert(1);
}

#network .manifesto_essential-content:before {
  content: url("https://cdn.prod.website-files.com/63a6d0820bd1f472b4150067/6728e5f9cd4922e2962affcc_Network.svg");
  width: 1076px;
  height: 704px;
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
}
