html, body {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

section {
  scroll-snap-align: start;
}

.manifesto_change_table-link:hover {
  opacity: 0.8;
}

.w--current .manifesto_changer-bullet {
  min-width: 0.8rem;
  height: 0.8rem;
}

.table_of_content {
  filter: invert(10%);
}

.table_of_content .manifesto_changer-sidebar {
  display: block;
  max-width: none;
  height: auto;
  padding: 0px;
  position: static;
  overflow: auto;
}

@media (max-width: 991px) {
  .link-arrow.is-manifesto-table {
    position: static;
  }
}
